
::ng-deep .mdc-dialog--open .mat-mdc-dialog-surface, .mdc-dialog--closing .mat-mdc-dialog-surface {
  background: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
}


::ng-deep .mat-mdc-dialog-container .mat-mdc-dialog-content {
  padding: var(--mat-dialog-content-padding, 10px 0 16px 0);
}

.dashboard-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

    .left-column {
      flex: 1; 
      max-width: 20%;
      border-right: 1px solid #ddd;

      .dashboard-item {
        cursor: pointer;
        padding: 10px;
        transition: background-color 0.3s, color 0.3s;
      }
      
      .dashboard-item:hover {
        background-color: #f0f0f0;
        color:#333
      }
      
      .dashboard-item.selected {
        background-color: #333; 
        color: #fff; 
      }

      h3 {
        padding-left: 10px;
        font-size: 16px;
        @media (max-width: 768px) { 
          font-size: 12px;
        }
    
        @media (max-width: 480px) { 
          font-size: 9px;
        }
      }
  
      ul {
        list-style-type: none;
        padding: 0;
  
        li {
          margin: 8px 0;
          @media (max-width: 768px) { 
            margin: 6px 0;
          }
      
          @media (max-width: 480px) { 
            margin: 4px 0;
            font-size: 10px;
          }
        }
      }
    }
  
    .right-column {
        flex: 4; 
        padding: 0 16px 16px 16px;

        .metrics-hourly{
          display: flex;
          flex-direction: row; 
          gap: 16px;
          flex-wrap: wrap;  
        }
      
        .metrics {
          display: grid;
          gap: 16px;
          grid-template-columns: repeat(2, 1fr);

          .metric-individual-col {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 16px; 
            width: 100%; 
          }


          .metric-individual {
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            padding: 8px;
            border-radius: 8px;
            color:white;
            width: auto; 
          }

          .metric {
            flex: 1 1 45%; 
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            padding: 16px;
            border-radius: 8px;

            .metric-bar{
              display: flex;
              flex-direction: row;
              justify-content: space-between;
            }

            h3 {
              padding-left: 10px;
              font-size: 16px;
              @media (max-width: 768px) { 
                font-size: 12px;
              }
          
              @media (max-width: 480px) { 
                font-size: 9px;
              }
            }
      
            h4 {
              margin-bottom: 8px;
            }
          }
        }
      
        .timeseries {
          .chart-container {
            width: 100%;
            overflow: hidden; 
            height: 200px;
            background: #7d808c; // change
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
          }
        }
      }
      
  }
  
  .close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
  
    &:hover {
      color: red;
    }
  }
  