<mat-dialog-content class="dashboard-content">
  <div class="left-column">
    <h3>Dashboards</h3>
    <ul>
      <li
        (click)="switchView('LocalMap')"
        [class.selected]="dashboardView === 'LocalMap'"
        class="dashboard-item"
      >
        Local Map
      </li>
      <li
        (click)="switchView('Weather')"
        [class.selected]="dashboardView === 'Weather'"
        class="dashboard-item"
      >
        Weather
      </li>
      <li
        (click)="switchView('Radiation')"
        [class.selected]="dashboardView === 'Radiation'"
        class="dashboard-item"
      >
        Radiation
      </li>
    </ul>
  </div>

  <div class="right-column">
    <h3>{{ data.name }}</h3>
    <button mat-icon-button class="close-button" mat-dialog-close>
      &times;
    </button>
    <div [ngSwitch]="dashboardView">
      <div *ngSwitchCase="'LocalMap'" class="metrics">
        <div class="metric">insert map</div>
      </div>
      <div *ngSwitchCase="'Weather'" class="metrics">
        <div class="metric">
          <p><strong>Highest</strong> Highest Humidity</p>
          <p><strong>Lowest</strong> Lowest</p>
        </div>
        <div class="chart-container">humidity chart</div>
      </div>
      <div *ngSwitchCase="'Radiation'" class="timeseries">
        <div class="metric">
          <p><strong>Highest</strong> Highest Temp</p>
          <p><strong>Lowest</strong> Lowest</p>
        </div>
        <div class="metric">
          <p><strong>Highest</strong> Highest Radiation</p>
          <p><strong>Lowest</strong> Lowest</p>
        </div>
        <div class="chart-container">Temp chart</div>
        <div class="chart-container">Radiation chart</div>
      </div>
      <div *ngSwitchDefault>
        <p>Select a view from the list above.</p>
      </div>
    </div>
  </div>
</mat-dialog-content>
