
  
  .navbar {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.2); 
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3); 
    z-index: 1000; 
  }
  
  .nav-item {
    margin: 0 10px;
    display: flex;
    align-items: center;
  }
  
  .nav-item img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  
  .nav-item input {
    border: none;
    outline: none;
    background: transparent;
    color: #fff; 
    font-size: 14px;
    padding: 5px;
  }
  
  .nav-item input::placeholder {
    color: rgba(255, 255, 255, 0.8);
  }

  .iconNav{
    color:white;
    transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
  }

  .iconNav:hover {
    background-color: #f0f0f0;
    color:#333;
    border-radius: 50%;
  }