<div id="map-container">
  <div class="navbar">
    <div class="nav-item">
      <mat-form-field appearance="fill">
        <mat-icon matPrefix class="iconNav" (click)="search()">search</mat-icon>
        <input
          matInput
          placeholder="Search"
          [matAutocomplete]="auto"
          [formControl]="searchControl"
          (keydown.enter)="search()"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let suggestion of suggestions$ | async"
            [value]="suggestion"
          >
            {{ suggestion }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="nav-item">
      <mat-icon class="iconNav" [matMenuTriggerFor]="menu">tune</mat-icon>
      <mat-menu #menu="matMenu">
        <div class="dropdown-content">
          <mat-slide-toggle (click)="toggleTimeFrame()">{{
            timeFrame
          }}</mat-slide-toggle>
        </div>
      </mat-menu>
    </div>

    <ng-container *ngIf="timeFrame === 'hourly'; else lightMode">
      <mat-icon
        matTooltip="Hourly"
        class="iconNavTooltip"
        matTooltipPosition="below"
        >hourglass_full</mat-icon
      >
    </ng-container>
    <ng-template #lightMode>
      <mat-icon matTooltip="Daily" matTooltipPosition="below"
        >light_mode</mat-icon
      >
    </ng-template>
  </div>
</div>
