.chart-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    z-index: 199999;
  }


  canvas {
    width: 100% !important;
    height: 45vh !important;
    border-radius: 8px;
  }
  
  @media (max-width: 768px) {
    .canvas {
        height: 40vh;
    }
  }